* {
  box-sizing: border-box;
}

body {
  font-size:  14px;
  line-height: 1;
  color: #000;
  height: 100%;
  font-family: var(--font-family);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


.container {
  max-width: 1132px;
  padding: 0 20px;
  margin: 0 auto;
}
